* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 700px;
    background-image: linear-gradient(to right, hsl(273, 75%, 33%), hsl(240, 73%, 65%));
    max-width: 1440px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
    padding: 5%;
}

section.accordeon {
    display: flex;
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    padding: 20px;
}   

.box-left {
    flex: 1;
    display: flex;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: right;
    background-size: cover;
}

.box-left img {
    position: absolute;
    width: 40%;
    left: 30px;
}


img.bg-woman-desktop,
img.box-desktop {
    display: none;
}


.box-right {
    flex: 1;
    padding: 30px;
}

.faq-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000;
}

.box-faq {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    display: flex;
    flex-direction: column;
}

.question {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 500ms;
}

.question p:hover {
    color: hsl(14, 88%, 65%);
}

.answer {
    padding: 10px 0;
    display: none;
}

.active img {
    transform: rotate(180deg);
    transition: all 500ms;
}

.active p {
    color: hsl(237, 12%, 33%);
    font-weight: 700;
    transition: all 300ms;
}

/*RESPONSIVO*/


@media (max-width: 1023px) {
    section.accordeon {
        flex-direction: column;
        height: auto;
    }

    .box-left img {
        position: static;
        margin: auto;
    }
}

@media (max-width: 930px) {
    section.accordeon {
        flex-direction: column;
        height: auto;
    }

    .box-left {
        justify-content: center;
        background: none;
    }

    .box-left img {
        position: static;
        width: 70%;
    }

    .faq-title {
        text-align: center;
    }
}

@media (min-width: 730px) and (max-width: 800px){

    .box-left {
        background: none;
    }
}

@media (max-width: 729px) {
    section.accordeon {
        width: 100%;
        height: 100%;
    }
    
    .box-left img {
        margin-top: 0;
    }
    
}